# dependencies
node_modules
.pnpm-store

# next.js build output
.next
out

# misc
.DS_Store
*.pem
*.tmp

# local env files
.env*.local

# large binary / media files — keep out of git
*.zip
*.mp4
*.mov
*.avi
*.psd
*.ai
*.sketch
